*{
  text-align: center;
  background-color: l;
}

body{
  font-size: 22px;
}

/*--------------------------------
            CONTAINER
--------------------------------*/
#container {
  width: 950px;
  margin: 0 auto;
}
input {
  font-size: .75em;
  border-radius: 5px;
}
input:focus{
  outline-color: #f7f8f9;
}
button {
  font-size: .75em;
  display: block;
  margin: .75em auto;
  cursor:pointer;
  background: none;
  border: none;
  box-shadow: 2px 2px 2px, inset 0 0 1px;
  opacity: .7;
  border-radius: 5px;
}
button:focus {
  outline: 0;
}
button:active {
  box-shadow: inset 2px 2px, 0 0 1px;
}
button:hover {
  opacity: 1;
}
canvas {
  background-color: #f7f8f9;
  display: block;
  margin: 2em auto;
  box-shadow:  0px 0px 10px .04em;
  border-radius: 64px 22px 64px 22px;
}




/*--------------------------------
            SETTINGS
--------------------------------*/
#settings{
  font-size: .5em;
  position: absolute;
  width: 150px;
  overflow: hidden;
  background-color: #f7f8f9;
  border-radius: 5px;
}
input[type=range] {
  
}
#settings ul{
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 150px;
}
#settings ul li {
  margin-top: 5px;
  text-align: left;
  padding-left: 4px;
}
#settings ul li span {
  margin-left: 10px;
}
#slider {
  margin-left: -2px;
  margin-top: 2px;
  width: 100%;
  cursor:pointer;
}

/*--------------------------------
            CANVAS SETTINGS
--------------------------------*/

#canvasSettings{
  list-style: none;
  margin: 0;
  padding: 0;
}
h3 {
  margin: 0;
  margin-top: 20px;
}
#canvasSettings li {
  margin: 0;
  padding: 0;
  font-size: ;
}
#canvasSettings li input{
  width: 100%;
  margin-left: -2px;
  margin-top: 2px;
  cursor:pointer;
  color:;
  background: transparent;
  border-color: transparent;
}
#canvasSettings li span{
  margin-left: 10px;
}

/*--------------------------------
            CLOSE SETTINGS
--------------------------------*/
#closeSettings{
  border-style: none;
  font-family:sans-serif;
  display: inline;
  position: absolute;
  right: 3px;
  top: 3px;
  font-size: 20px;
  padding: 0px 6px;
  border-radius: 5px;
}
#closeSettings:hover {
  cursor: pointer;
  box-shadow: 0 0 .5em gray;
  
}
#showStopper {
  font-size: 11px;
}